@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --main-color: #deab5f;
    --second-color: #312e2e;
    --Playfair-font: "Playfair Display", serif;
}

/* Utility styles */
button{
    padding: 10px 30px;
    border: none;
    background: var(--main-color);
    cursor: pointer;
}

button:hover {
    background:  #f5ce94;
    color: #fff;
}
/* Rests */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #100e0f;
}

/* Navigation */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding-top: 15px;
    font-family: sans-serif;
    margin-bottom: 15px;
    flex-wrap: nowrap; /* Ensures no wrapping */
    white-space: nowrap; /* Prevents text inside <li> elements from wrapping */
    
}

li {
    display: inline;
    list-style: none;
    white-space: nowrap;
}

li a {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 5px;
}

li a:hover {    
    border-bottom: 3px solid var(--main-color);
}

/* Navigation END */

/* Header START */
.header {
    background: url("assets/coffe_header_image-cut.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Playfair Display", serif;
    font-weight: normal;
    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    position: relative;
    text-align: center;
}

.main-heading {
    position: absolute;
    font-size: 4rem;
    top: 3rem;
    word-spacing: 10px;
    margin-bottom: -40px;
}

.primary-heading {
    position: absolute;
    font-size: 4rem;
    bottom: 9rem;
    word-spacing: 10px;
    margin-bottom: 35px;
}

.main-btn {
    position: absolute;
    width: 150px;
    padding: 10px 30px;
    bottom: 10rem;
    margin-top: 20px;
    background: transparent;
    background-color: var(--main-color);
    cursor: pointer;
    transform: translateY(40px);
}

/* Our Story START */

#our-story {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.img {
    height: 400px;
    width: 400px;
    background: url("assets/pexels-chitokan-2183027-removebg-preview.png");
    background-position: center;
    background-size: cover;
}

.title-style {
    display: flex;
    align-items: center;
}

.title {
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    color: #fff;
    transform: translateX(-100px);
}

.line {
    width: 100px;
    height: 2px;
    background: #fff;
    transform: translateX(-120px);
}

.section-content p {
    max-width: 500px;
    color: #fff;
    font-family: sans-serif;
    line-height: 30px;
    letter-spacing: 1px;
    margin: 20px auto;
}

/* Our Sroty END */

/* Coffe Info START */
.coffe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 9rem;
}

.content-section p {
    max-width: 500px;
    font-family: sans-serif;
    margin: 20px auto;
    color: #fff;
    line-height: 30px;
    letter-spacing: 1px;

}

.title-two {
    font-size: 3rem;
    color: #fff;
    font-family: var(--Playfair-font);
}

.img-2 {
    height: 400px;
    width: 400px;
}

.content-section button {
    margin-top: px;
}

/* Coffee Info END */

/* Products Section Start */
.products {
    margin-top: 5rem;
}

.title-three {
    font-size: 4rem;
    margin: 10rem 0 10rem 10rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card {
    border: 2px solid var(--main-color);
    padding: 0 20px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5rem;
}

.card-img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
}

.img-one {
    background: url("assets/1.png");
    background-position: center;
    background-size: cover;
}

.img-two {
    background:url("assets/4.png") ;
    background-position: center;
    background-size: cover;
}

.img-three {
    background:url("assets/3.png") ;
    background-position: center;
    background-size: cover;
}

.card-title {
    color: white;
    font-family: var(--Playfair-font);
    margin-top: 50px;
}

.card .items p {
    color: #fff;
    margin: 25px 0;
    font-family: var(--Playfair-font);
    font-size: large;
}

/* Products Section END */

/* Footer START */

footer {
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: sans-serif;
}

footer .container {
    margin: 20px;
    max-width: 300px;
    text-align: center;
}

footer .heading-info {
    margin-bottom: 20px;
}

footer p {
    line-height: 25px;
}

span {
    color: var(--main-color);
}

hr {
    margin: 20px 0;
    border: 1px solid var(--main-color);
    width: 100%;
}

.para {
    color: #fff;
    text-align: center;
    margin: 10px 0;
    font-family: sans-serif;
}

/* Footer END */

/* Website Responivness */

@media only screen and (max-width:900px) {
    .main-heading, .primary-heading {
        font-size: 2.5rem;
    }

    #our-story {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }

    #our-story .title {
        margin: 0 auto;
        transform: none;
        font-size: 3.5rem;
    }

    .section-content p {
        margin: 20px auto;
    }

    #our-story .line {
        display: none;
    }

    .content-section {
        text-align: center;
    }

    #our-story .img-container {
        margin-bottom: 0;
    }

    .coffe-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .coffe-container .img-container {
        margin-top: auto;
        margin-bottom: 2.5rem;
        order: -1;
    }

    .coffe-container .img-container img {
        rotate: -90deg;
    }


    .title-two {
        margin: 0 auto;
    }

    .title-three {
        text-align: center;
        font-size: 3rem;
        margin: 10rem 0 5rem 0;
        transform: none;
    }

    .card {
        margin: 3rem 1rem;
    }

    .para {
        margin: 2rem auto;
    }
}

@media only screen and (max-width:550px) {
    nav {
        flex-direction: column;
        width: 100%;
    }

    nav > ul > li > a{
        width: 100%;
        margin: 15px 30px;
    }

    nav > h1 {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
}